main,
.pattern,
.index {
  min-height: 100vh;
}
main {
  background-color: hsl(208, 4%, 98%);
}
.pattern {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      135deg,
      transparent,
      transparent 25%,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0.2) 50%
    ),
    repeating-linear-gradient(
      180deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 50%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.2) 100%
    );
  background-size: 8rem 16rem;
}
.index {
  background: linear-gradient(
    to top,
    hsla(208, 8%, 8%, 0.88) 0%,
    hsla(208, 4%, 4%, 0.94) 100%
  );
  color: hsla(208, 16%, 96%, 0.96);
  line-height: 1.25;
}
.central {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 2rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
  display: flex;
  align-items: center;
}
.separator {
  margin: 0 0 0 0.5rem;
}
.subtitle-link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #eceeef;
  padding: 0.25rem 0.5rem 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
}
.project {
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: none;
  min-width: 18rem;
  display: flex;
  margin: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.64);
  border-radius: 0.5rem;
  background-color: rgba(80, 80, 80, 0.1);
  padding: 0.5rem 0.75rem;
  transition: 0.1s;
}
.project:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 36rem) {
  .projects {
    padding: 0;
  }
  .project {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.64);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.02);
  }
  .project:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
  }
  .project:hover {
    border-color: rgba(255, 255, 255, 0.64);
  }
  .central {
    padding: 0.25rem 0 2rem;
  }
}
@media (max-width: 30rem) {
  .project {
    display: block;
    padding-top: 1rem;
  }
}
.project-image-link {
  flex: 0 0 8rem;
  margin: auto;
}
.project-image {
  max-width: 100%;
}
.project-image-link,
.project-image {
  display: block;
  width: 8rem;
  height: 8rem;
}
.project-text {
  flex: 1 1 auto;
  padding: 0.875rem 0 0.875rem 0.5rem;
}
.project-title {
  margin: 0 0 0.375rem;
  font-size: 1.125rem;
  font-weight: 500;
}
.project-title .project-title-link {
  color: #e8eaed;
  text-decoration: none;
}
.project-title-link:hover,
.project-title-link:focus {
  text-decoration: underline;
}
.project-description {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.375rem 0 0.5rem;
}
.project-links {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.project-link {
  display: block;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border-radius: 0.25rem;
  border: 1px solid #e8eaed;
  background-color: transparent;
  color: #e8eaed;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0 1rem 0 0;
  transition: 0.2s;
}
.project-link:hover,
.project-link:focus {
  background-color: #e8eaed;
  color: #000;
}
@media (min-width: 64rem) {
  .central {
    max-width: 100rem;
  }
  .project {
    max-width: calc(50% - 1rem);
  }
  .project-text {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}
