@import-normalize;

html,
body {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #202124;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
